.photoSlide{
    position: relative;
    width:100%;
    background-color: rgb(0, 23, 49);
    padding: 0 0 10px;
    border-radius: 8px;
}
.photoSlide>h2{
    display: none;
}
.photoSlide ul{
    width:100%;
    padding:0;
    margin:0;
}
.photoSlide ul li{
    float:left;
    width: 33.333333333%;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    list-style-type: none;
    margin:0;
    color: white;
    border-bottom: 2px solid #000000;
    transition: all 0.2s;
    font-family: 'Nunito Sans', sans-serif;
}
.photoSlide ul li.activeTop{
    border-bottom: 2px solid #98ff11;
}
.photoSlide ul li:hover{
    background-color: rgba(49, 128, 160, 0.664);
    border-bottom: 2px solid #11b4ff;
    cursor: pointer;
}

.fa-angle-left, .fa-angle-right{
    position: absolute;
    top: 35%;
    font-size: 5em;
    color:rgb(0, 195, 255);
    cursor: pointer;
    padding: 10px;
    line-height: 50px;
    transition: all 0.4s;
    z-index: 7;
}
.fa-angle-left{
    left:6%;
}
.fa-angle-right{
    right:6%;
}
.fa-angle-left:hover, .fa-angle-right:hover{
    font-size:6em; 
    color: #98ff11;
}
#mphoto{
    width: 70%;
    display: block;
    padding-top: 2px;
    margin-left: auto;
    margin-right: auto;
    transform: scaleX(1);
    transition: transform 0.5s;
}

.f1, .f2, .f3{
    display: none;
}

.galery1, .galery2, .galery3{
    display: block;
    width: 500px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}
.ph{
    width: 500px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform-origin:250px center;
}
.galery1 .ph{
    animation: galery1 24s infinite linear;
}
.galery2 .ph{
    animation: galery2 24s infinite linear;
}
.galery3 .ph{
    animation: galery3 24s infinite linear;
}
.galery1 .ph:nth-of-type(8), .galery2 .ph:nth-of-type(8), .galery3 .ph:nth-of-type(8){
    animation-delay:0s;
}
.galery1 .ph:nth-of-type(7), .galery2 .ph:nth-of-type(7), .galery3 .ph:nth-of-type(7){
    animation-delay:3s;
}
.galery1 .ph:nth-of-type(6), .galery2 .ph:nth-of-type(6), .galery3 .ph:nth-of-type(6){
    animation-delay:6s;
}
.galery1 .ph:nth-of-type(5), .galery2 .ph:nth-of-type(5), .galery3 .ph:nth-of-type(5){
    animation-delay:9s;
}
.galery1 .ph:nth-of-type(4), .galery2 .ph:nth-of-type(4), .galery3 .ph:nth-of-type(4){
    animation-delay:12s;
}
.galery1 .ph:nth-of-type(3), .galery2 .ph:nth-of-type(3), .galery3 .ph:nth-of-type(3){
    animation-delay:15s;
}
.galery1 .ph:nth-of-type(2), .galery2 .ph:nth-of-type(2), .galery3 .ph:nth-of-type(2){
    animation-delay:18s;
}
.galery1 .ph:nth-of-type(1), .galery2 .ph:nth-of-type(1), .galery3 .ph:nth-of-type(1){
    animation-delay:21s;
}
@keyframes galery1{ 
    0% {z-index:10;opacity:1; transform: rotate(0); width: 500px; height: 300px; left: 0}
    7%{transform: rotate(300deg); width: 50px; height: 30px; opacity: 1; left :0}
    9%{transform: rotate(360deg); width: 0px; height: 0px;z-index:-1; opacity: 0; left: -60px;}
	12.4999%{opacity: 1}
	12.5%{z-index:-1;}
	87.49999%{opacity:1; transform: rotate(0);width: 500px; height: 300px; z-index:-1; left: 0;}	
	87.5%{z-index:0;width: 500px;}
	100%{opacity:1;z-index:0; width: 500px; height: 300px; left: 0;}
}
@keyframes galery2{ 
    0% {z-index:10;opacity:1;}
    8%{ opacity: 0;}
	8.0001%{z-index:-1;opacity: 1}
	12.5%{z-index:-1;}
	87.49999%{opacity:1; z-index:-1;}	
	87.5%{z-index:0;}
	100%{opacity:1;z-index:0;}
}
@keyframes galery3{ 
    0% {z-index:10;opacity:1; left: 0}
    5%{opacity: 1; left: 400px}
    7%{z-index:-1; opacity: 0; left: 500px;}
	12.4999%{opacity: 1}
	12.5%{z-index:-1;}
	87.49999%{opacity:1; z-index:-1; left: 0;}	
	87.5%{z-index:0;}
	100%{opacity:1;z-index:0; left: 0;}
}

.imgBottomNav{
    margin: 0 10px;
    padding: 15px 10px 10px;
    overflow: auto;
    white-space: nowrap;
    width: calc(100% - 20px);
}
.imgBottomNav img{
    padding: 0 5px;
    width:15%;
    cursor: pointer;
}
.imgBottomNav img:not(.active){
    opacity: 0.6;
}
.imgBottomNav img:hover{
    opacity: 1;
}
.imgBottomNav::-webkit-scrollbar{
    width: 6px;
}
.imgBottomNav::-webkit-scrollbar-track{
    background: #dfdfdf; 
}
.imgBottomNav::-webkit-scrollbar-thumb{
    background: #90db2d; 
}

.vLine{
    width: 5px;
    height: 300px;
    margin: 10px auto;
    background-color: rgb(50, 169, 206);
}
.main>p{
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    color: #005ca7;
}

@media all and (max-width: 700px){
    #mphoto{
        width: 100%;
    }
    .fa-angle-left, .fa-angle-right{
        font-size: 3em;
    }
    .imgBottomNav img{
        width: 22%;
    }
    .photoSlide ul li{
        font-size: 3vw;
    }
}
@media all and (max-width: 520px){
    .galery1, .galery2, .galery3{
        display: none;
    }
}