.col1, .col2{
    margin-left: 10px;
    width: calc(22% - 20px);
    float: left;
}
.col1 img:first-child, .col2 img:first-child{
    margin-top: 10px;
}
.col1 img, .col2 img{
    width: 100%;
    margin: 0 0 10px 0;
    border-radius: 8px;
}
.tournamentsTable{
    width:56%;
    float:left;
    margin-top:10px;
}
.tournamentsTable h1{
    text-transform: uppercase;
    width: 100%;
    float:left;
    padding: 15px 10px;
    margin:0;
    color: rgb(0, 0, 0);
    font-size:1.5em;
    background-color: rgb(255, 230, 6);
    font-family: 'Nunito Sans', sans-serif;
    box-shadow: 0px 1px 4px 1px #636363;
    border-radius: 6px;
}
.tournamentsTable table{
    width:100%;
    height: 200px;
    background-color: #084e7c;
    box-shadow: 0px 1px 4px 1px #a8a8a8;
    border-radius: 6px;
}
table tr th{
    font-size:1.7em;
    padding: 15px 0;
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(255, 255, 255);
}
table tr th.tour{
    padding: 15px 0 15px 10px;
}
table tr th.champ{
    color:rgb(255, 251, 4);
    animation: colorSwitch 4s infinite;
}
@keyframes colorSwitch{
    50%  {color:rgb(255, 0, 0);}
}

table tr td{
    text-transform: capitalize;
    font-size:1.1em;
    font-family: 'PT Sans', sans-serif;
    text-align:left;
    color:rgb(255, 255, 255);
    padding: 20px 0;
}
table tr td.tour{
    padding: 20px 0 20px 10px;  
}
table tr td span.man{
    color:rgb(251, 255, 0);
    font-size: 1.3em;
}
table tr td span.woman{
    color:rgb(255, 59, 134);
    font-size: 1.3em;
}
